@font-face {
    font-family: 'Palatino Linotype';
    src: url('PalatinoLinotype-Roman.eot');
    src: url('PalatinoLinotype-Roman.eot?#iefix') format('embedded-opentype'),
        url('PalatinoLinotype-Roman.woff2') format('woff2'),
        url('PalatinoLinotype-Roman.woff') format('woff'),
        url('PalatinoLinotype-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

