@media(max-width: 1680px){
    .container{
        max-width: 1680px;
    }
    .header{
        min-height: 1050px;
    }
    .stars{
        min-height: calc(1050px / 3);
    }
    .logo{
        min-height: calc(1050px / 5);
    }
    .grid{
        grid-template-columns: repeat(21, 4.76%);
        grid-template-rows: repeat(8, 160px);
    }
    .logo img{
        width: 740px;
    }
    .cards{
        gap: 4.7%;
    }
    .card{
        width: 19%;
        margin-bottom: 80px;
    }
    .sc-3{
        margin-left: 33.3%;
    }
    .drops{
        grid-column: span 2;
        grid-row: span 5;
        order: 1;
    }
    .run{
        grid-column: span 11;
        order: 2;
    }
    .change{
        grid-column-start: 1;
        grid-column: span 8;
        grid-row: span 5;
        order: 3;
    }
    .change-star{
        left: 50%;
        top: 10%;
    }
    .ignate{
        grid-column: span 6;
        order: 5;
    }
    .rotate{
        grid-column: span 6;
        order: 6;
    }
    .fireflies{
        grid-row: span 4;
        grid-column: span 11;
        order: 4;
    }
    .fireflies3{
        width: 21.5%;
    }
    .fireflies4{
        width: 30%;
        top: 20%;
        left: -7%;
    }
    .ff-lt{
        top: -3%;
        left: 17%;
    }
    .ff-rt{
        top: -3%;
        left: 42%;
    }
    .ff-lb{
        top: 44%;
        left: -55%;
    }
    .ff-rb{
        top: -7%;
        left: 65%;
    }
    .shine{
        grid-row: span 3;
        grid-column: span 9;
        order: 7;
    }
    .footer{
        padding: 80px;
        padding-top: 32px;
    }
    .hse-logo{
        height: 160px;
    }
    h1{
        padding-left: 35px;
    }
    p{
        font-size: 48px;
        margin-bottom: 15px;
    }
}

@media(max-width: 1440px){
    .container{
        max-width: 1440px;
    }
    .header{
        min-height: 900px;
    }
    .stars{
        min-height: calc(900px / 3);
    }
    .logo{
        min-height: calc(900px / 5);
    }
    .grid{
        grid-template-columns: repeat(18, 5.55%);
        grid-template-rows: repeat(24, 80px);
    }
    .logo img{
        width: 785px;
    }
    .cards{
        gap: 5.55%;
        max-width: 100%;
    }
    .card{
        width: 22.2%;
    }
    .sc-3{
        margin-left: 21.5%;
    }
    .drops{
        grid-column: span 2;
        grid-row: span 12;
        order: 3;
    }
    .run{
        grid-column: span 11;
        grid-row: span 2;
        order: 1;
    }
    .change{
        grid-column-start: 1;
        grid-column: span 9;
        grid-row: span 12;
        order: 4;
    }
    .ignate{
        grid-column: span 7;
        grid-row: span 7;
        order: 2;
    }
    .rotate{
        grid-column: span 7;
        grid-row: span 7;
        order: 5;
    }
    .fireflies{
        grid-row: span 10;
        grid-column: span 10;
        order: 6;
    }
    .shine{
        grid-row: span 10;
        grid-column: span 8;
        order: 7;
    }
    .footer{
        padding: 80px;
        padding-top: 32px;
    }
    .hse-logo{
        height: 160px;
    }
    p{
        font-size: 40px;
        margin-bottom: 20px;
    }
    h1{
        width: 40px;
    }
}

@media(max-width: 1366px){
    .container{
        max-width: 1366px;
    }
    .header{
        min-height: 768px;
    }
    .stars{
        min-height: calc(768px / 3);
    }
    .logo{
        min-height: calc(768px / 5);
    }
    .grid{
        grid-template-columns: repeat(17, 5.88%);
        grid-template-rows: repeat(24, 80px);
    }
    .logo img{
        width: 670px;
    }
    .cards{
        gap: 5.88%;
    }
    .card{
        width: 23.4%;
    }
    .sc-3{
        margin-left: 18%;
    }
    .drops{
        grid-column: span 2;
        grid-row: span 12;
        order: 3;
    }
    .run{
        grid-column: span 10;
        grid-row: span 2;
        order: 1;
    }
    .change{
        grid-column: span 8;
        grid-row: span 12;
        order: 4;
    }
    .ignate{
        grid-column: span 7;
        grid-row: span 7;
        order: 2;
    }
    .rotate{
        grid-column: span 7;
        grid-row: span 7;
        order: 5;
    }
    .fireflies{
        grid-row: span 10;
        grid-column: span 10;
        order: 6;
    }
    .fireflies4{
        left: -8%;
    }
    .ff-lt{
        left: 19%;
    }
    .ff-rt{
        left: 34%;
    }
    .ff-lb{
        left: -54%;
    }
    .ff-rb{
        left: 55%;
    }
    .shine{
        grid-row: span 10;
        grid-column: span 7;
        order: 7;
    }
    .footer{
        padding: 80px;
        padding-top: 80px;
    }
    .hse-logo{
        height: 160px;
    }
    h1{
        margin-left: -40px;
    }
    p{
        font-size: 40px;
        margin-bottom: 20px;
    }
}

@media(max-width: 1280px){
    .container{
        max-width: 1280px;
    }
    .header{
        min-height: 800px;
    }
    .stars{
        min-height: calc(800px / 3);
        max-width: 1280px;
    }
    .logo{
        min-height: calc(800px / 5);
    }
    .grid{
        grid-template-columns: 12.5% 50% 37.5%;
        grid-template-rows: repeat(11, 160px);
    }
    .logo img{
        width: 700px;
    }
    .cards{
        gap: 6.25%;
    }
    .card{
        height: 320px;
        width: 25%;
    }
    .sc-3{
        background-image: url(../images/south-crown-3.png);
        background-position: center;
        background-repeat: no-repeat;
    }
    .sc-3{
        margin-left: 12.5%;
    }
    .sc{
        background-image: url(../images/star.svg);
        background-repeat: no-repeat;
        background-size: 410px;
        background-position: 180% -60%;
    }
    .drops{
        grid-row: span 6;
        grid-column: span 1;
        order: 1;
    }
    .run{
        grid-row: span 1;
        grid-column: span 1;
        order: 2;
    }
    .change{
        grid-column: span 1;
        grid-row: span 5;
        order: 4;
    }
    .change-star{
        left: 50%;
        top: 0%;
    }
    .ignate{
        grid-column: span 1;
        grid-row: span 3;
        order: 3;
    }
    .rotate{
        grid-column: span 1;
        grid-row: span 3;
        order: 5;
    }
    .fireflies{
        grid-row: span 5;
        grid-column: span 2;
        order: 6;
    }
    .fireflies3{
        width: 29.5%;
    }
    .fireflies4{
        width: 42.2%;
        top: 0%;
        left: 29%;
    }
    .ff-lt{
        top: 11%;
        left: 7.5%;
    }
    .ff-rt{
        top: 9%;
        left: 30%;
    }
    .ff-lb{
        top: 25%;
        left: -37%;
    }
    .ff-rb{
        top: -11.5%;
        left: 63%;
    }
    .shine{
        grid-column: span 1;
        grid-row: span 5;
        order: 7;
    }
    .footer{
        padding: 80px;
    }
    .hse-logo{
        height: 160px;
    }
}

@media(max-width: 1024px){
    .flex{
        flex-wrap: wrap;
    }
    .container{
        max-width: 1024px;
    }
    .header{
        min-height: 768px;
    }
    .stars{
        min-height: calc(768px / 3);
    }
    .logo{
        min-height: calc(768px / 5);
    }
    .grid{
        grid-template-columns: repeat(13, 7.69%);
        grid-template-rows: repeat(24, 80px);
    }
    .st1{
        left: -10px;
    }
    .st2{
        left: -30px;
    }
    .st3{
        left: 70px;
    }
    .st4{
        left: 0px;
    }
    .st5{
        left: 20px;
    }
    .st6{
        left: -30px;
    }
    .st7{
        left: 30px;
    }
    .st8{
        left: -30px;
    }
    .st9{
        left: 10px;
    }
    .st10{
        left: 10px;
    }
    .st11{
        left: -10px;
    }
    .st12{
        left: 0px;
    }
    .logo img{
        width: 560px;
    }
    .cards{
        gap: 7.69%;
    }
    .card{
        width: 31.25%;
    }
    .sc-3{
        margin-left: 29.6%;
    }
    .sc-4{
        margin-left: 0;
    }
    .sc-5{
        margin-left: 29.6%;
    }
    .drops{
        grid-column: span 2;
        grid-row: span 9;
        order: 4;
    }
    .run{
        grid-column: span 3;
        grid-row: span 9;
        order: 6;
        writing-mode: vertical-rl;
        text-orientation: mixed;
    }
    .change{
        grid-column: span 8;
        grid-row: span 10;
        order: 1;
    }
    .ignate{
        grid-column: span 5;
        grid-row: span 5;
        order: 2;
    }
    .rotate{
        grid-column: span 5;
        grid-row: span 5;
        order: 3;
    }
    .fireflies{
        grid-row: span 9;
        grid-column: span 8;
        order: 5;
    }
    .fireflies4{
        left: 28%;
    }
    .ff-lt{
        left: 5%;
    }
    .ff-rt{
        left: 29%;
    }
    .ff-lb{
        left: -38%;
    }
    .ff-rb{
        left: 60%;
        top: -12.5%;
    }
    .shine{
        grid-row: span 5;
        grid-column: span 13;
        order: 7;
    }
    .footer{
        padding: 80px;
        padding-top: 80px;
    }
    .hse-logo{
        height: 160px;
    }
    h1{
        margin-left: 150px;
        padding-top: 30px;
        width: 800px;
    }
    h2{
        font-size: 135px;
        padding-top: 0px;
        padding-right: 50px;
    }
    p{
        font-size: 40px;
        margin-bottom: 80px;
    }
}

@media(max-width: 768px){
    .flex{
        flex-wrap: wrap;
    }
    .fs-20{
        font-size: 18px;
    }
    .container{
        max-width: 768px;
    }
    .header{
        min-height: 1024px;
    }
    .stars{
        height: 41vh;
        min-height: calc(1024px / 100 * 41);
    }
    .logo{
        min-height: calc(1024px / 10);
    }
    .grid{
        grid-template-columns: repeat(9, calc(100% / 9));
        grid-template-rows: repeat(39, 80px);
    }
    .st1{
        top: 215px;
        left: 16.9%;
    }
    .st2{
        left: -3.9%;
    }
    .st3{
        top: 50px;
        left: 11%;
    }
    .st4{
        top: 150px;
        left: 3.9%;
    }
    .st5{
        top: 225px;
        left: 7.2%;
    }
    .st6{
        top: 60px;
        left: 1.3%;
    }
    .st7{
        top: 70px;
        left: 6.5%;
    }
    .st8{
        top: 160px;
        left: -3.3%;
    }
    .st9{
        top: 110px;
        left: 0;
    }
    .st10{
        top: 50px;
        left: 9.1%;
    }
    .st11{
        top: 130px;
        left: 0;
    }
    .st12{
        top: 220px;
        left: -22.1%;
    }
    .logo img{
        width: 80%;
    }
    .cards{
        gap: 10.4%;
    }
    .card{
        width: 31.25%;
        height: 240px;
    }
    .sc{
        background-image: none;
    }
    .inf{
        color: #FFEDCA;
        top: 7%;
        left: 10%;
        width: 80%;
    }
    .sc-3{
        margin-left: 27%;
    }
    .sc-5{
        margin-left: 27%;
    }
    .drops{
        grid-column: span 2;
        grid-row: span 11;
        order: 1;
    }
    .run{
        grid-column: span 3;
        grid-row: span 14;
        order: 4;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        padding-right: 9.1%;
    }
    .change{
        grid-column: span 7;
        grid-row: span 11;
        order: 2;
    }
    .change-star img{
        width: 90%;
    }
    .ignate{
        grid-column: span 6;
        grid-row: span 7;
        order: 3;
    }
    .ignate-st1{
        width: 93%;
    }
    .ignate-st2{
        margin-left: -81%;
    }
    .ignate-st3{
        width: 45.8%;
        margin-left: -57%;
    }
    .ignate-st4{
        width: 33%;
        margin-left: -39.6%;
    }
    .rotate{
        grid-column: span 6;
        grid-row: span 7;
        order: 5;
    }
    .fireflies{
        grid-row: span 9;
        grid-column: span 9;
        order: 6;
        width: 80%;
        height: 80%;
        left: 10%;
        top: 7%;
    }
    .shine{
        grid-row: span 5;
        grid-column: span 9;
        order: 7;
        padding-right: 0;
        max-width: 768px;
        overflow: hidden;
    }
    .footer{
        padding: 80px;
        padding-top: 80px;
    }
    .hse-logo{
        margin-top: 40px;
        height: 125px;
    }
    h1{
        margin-left: 0px;
        width: 768px;
        margin: 0 auto;
    }
    h2{
        font-size: 100px;
        padding-top: 0px;
        padding-right: 20px;
    }
    h4{
        font-size: 20px;
    }
    p{
        font-size: 32px;
        margin-bottom: 0px;
    }
}

@media(max-width: 520px){
    .flex{
        flex-wrap: wrap;
    }
    .mar-tb80{
        margin: 40px 0;
    }
    .fs-20{
        font-size: 12px;
    }
    .container{
        max-width: 520px;
    }
    .header{
        min-height: 568px;
    }
    .stars{
        height: 33vh;
        min-height: calc(100vh / 3);
    }
    .logo{
        min-height: calc(100vh / 14);
    }
    .grid{
        grid-template-columns: auto;
        grid-template-rows: repeat(61, 60px);
    }
    .st{
        width: 5.5%;
    }
    .b-st{
        width: 9.75%;
    }
    .st1{
        top: 60px;
        left: 7.8%;
    }
    .st2{
        top: 110px;
        left: 1.6%;
    }
    .st3{
        top: 65px;
        left: 14.1%;
    }
    .st4{
        top: 0px;
        left: -15.6%;
    }
    .st5{
        top: -10px;
        left: 10.9%;
    }
    .st6{
        top: 80px;
        left: -1.6%;
    }
    .st7{
        top: 45px;
        left: 56.25%;
    }
    .st8, .st9, .st10, .st11, .st12{
        display: none;
    }
    .logo img{
        width: 235px;
    }
    .cards{
        gap: 12.5%;
    }
    .card{
        width: calc(100% / 2 - 35px);
        height: 240px;
        margin-bottom: 40px;
    }
    .sc{
        background-image: none;
    }
    .inf{
        color: #FFEDCA;
        top: 8%;
        left: 10%;
        width: 85%;
    }
    .sc-3{
        margin-left: 0%;
    }
    .sc-5{
        margin-left: 0%;
    }
    .drops{
        grid-column: span 1;
        grid-row: span 11;
        order: 1;
    }
    .run{
        grid-column: span 1;
        grid-row: span 3;
        order: 3;
        writing-mode: unset;
        text-orientation: mixed;
    }
    .change{
        grid-column: span 1;
        grid-row: span 12;
        order: 2;
    }
    .change img{
        width: 120%;
    }
    .ignate{
        grid-column: span 1;
        grid-row: span 8;
        order: 4;
    }
    .ignate-st1{
        width: 93%;
    }
    .ignate-st2{
        margin-left: -81%;
    }
    .ignate-st3{
        width: 45.8%;
        margin-left: -57%;
    }
    .ignate-st4{
        width: 33%;
        margin-left: -39.6%;
    }
    .rotate{
        grid-column: span 1;
        grid-row: span 8;
        order: 5;
    }
    .fireflies{
        grid-row: span 10;
        grid-column: span 1;
        order: 6;
        width: 80%;
        height: 80%;
        left: 10%;
        top: 7%;
    }
    .shine{
        grid-row: span 9;
        grid-column: span 1;
        order: 7;
        padding-right: 30%;
        height: 540px;
    }
    .footer{
        padding: 40px;
    }
    .hse-logo{
        margin-top: 40px;
        width: 100%;
    }
    h1{
        margin-left: 23%;
        width: 120px;
    }
    h2{
        font-size: 80px;
        padding-top: 0px;
        padding-right: 20px;
    }
    h3{
        font-size: 40px;
    }
    h4{
        font-size: 16px;
        margin-bottom: 5px;
    }
    p{
        font-size: 14px;
        margin-bottom: 0px;
    }
    .change-star {
        left: 53%;
    }

    .change-star .si3 {
        display: block;
    }
}

@media(max-width: 320px){
    .flex{
        flex-wrap: wrap;
    }
    .mar-tb80{
        margin: 40px 0;
    }
    .fs-20{
        font-size: 12px;
    }
    .container{
        max-width: 320px;
    }
    .header{
        min-height: 568px;
    }
    .stars{
        height: 33vh;
        min-height: calc(568px / 3);
    }
    .logo{
        min-height: calc(568px / 14);
    }
    .grid{
        grid-template-columns: auto;
        grid-template-rows: repeat(61, 40px);
    }
    .st{
        width: 12.5%;
    }
    .b-st{
        width: 18.75%;
    }
    .st1{
        top: 80px;
        left: 7.8%;
    }
    .st2{
        top: 130px;
        left: 1.6%;
    }
    .st3{
        top: 85px;
        left: 14.1%;
    }
    .st4{
        top: 20px;
        left: -15.6%;
    }
    .st5{
        top: 10px;
        left: 10.9%;
    }
    .st6{
        top: 100px;
        left: -1.6%;
    }
    .st7{
        top: 65px;
        left: 56.25%;
    }
    .st8, .st9, .st10, .st11, .st12{
        display: none;
    }
    .logo img{
        width: 235px;
    }
    .cards{
        gap: 12.5%;
    }
    .card{
        width: calc(100% / 2 - 20px);
        height: 160px;
        margin-bottom: 40px;
    }
    .sc{
        background-image: none;
    }
    .inf{
        color: #FFEDCA;
        top: 8%;
        left: 10%;
        width: 85%;
    }
    .sc-3{
        margin-left: 0%;
    }
    .sc-5{
        margin-left: 0%;
    }
    .drops{
        grid-column: span 1;
        grid-row: span 11;
        order: 1;
    }
    .run{
        grid-column: span 1;
        grid-row: span 3;
        order: 3;
        writing-mode: unset;
        text-orientation: mixed;
    }
    .change{
        grid-column: span 1;
        grid-row: span 12;
        order: 2;
    }
    .change img{
        width: 120%;
    }
    .ignate{
        grid-column: span 1;
        grid-row: span 8;
        order: 4;
    }
    .ignate-st1{
        width: 93%;
    }
    .ignate-st2{
        margin-left: -81%;
    }
    .ignate-st3{
        width: 45.8%;
        margin-left: -57%;
    }
    .ignate-st4{
        width: 33%;
        margin-left: -39.6%;
    }
    .rotate{
        grid-column: span 1;
        grid-row: span 8;
        order: 5;
    }
    .fireflies{
        grid-row: span 10;
        grid-column: span 1;
        order: 6;
        width: 80%;
        height: 80%;
        left: 10%;
        top: 7%;
    }
    .shine{
        grid-row: span 9;
        grid-column: span 1;
        order: 7;
        padding-right: 55px;
        height: 360px;
    }
    .footer{
        padding: 40px;
    }
    .hse-logo{
        margin-top: 40px;
        width: 100%;
    }
    h1{
        margin-left: -33px;
        width: 120px;
    }
    h2{
        font-size: 80px;
        padding-top: 0px;
        padding-right: 20px;
    }
    h3{
        font-size: 40px;
    }
    h4{
        font-size: 16px;
        margin-bottom: 5px;
    }
    p{
        font-size: 14px;
        margin-bottom: 0px;
    }
    .change-star {
        left: 53%;
    }

    .change-star .si3 {
        display: block;
    }
}