@keyframes star-up{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-3%);
    }
}

.st1, .st4, .st5, .st6, .st7, .st8, .st9, .st12{
    animation-name: star-up;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: linear;
}

.st6, .st8, .st9, .st12{
    animation-name: star-up;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: linear;
    animation-delay: 1s;
}

@keyframes star-down{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(3%);
    }
}

.st2, .st3, .st10, .st11{
    animation-name: star-down;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: linear;
}

.st:hover, .b-st:hover{
    animation-play-state: paused;
}

@keyframes sc3{
    0%{
        background-image: url(../images/star.svg);
        background-repeat: no-repeat;
        background-size: 410px;
        background-position: 180% -60%;
        transform: translateX(0)
    }
    24%{
        background-image: url(../images/star.svg);
        background-repeat: no-repeat;
        background-size: 410px;
        background-position: 180% -60%;
    }
    25%{
        background-image: url(../images/south-crown-3.png);
        background-position: center;
        background-repeat: no-repeat;
        transform: translateX(0);

    }
    49%{
        background-image: url(../images/south-crown-3.png);
        background-position: center;
        background-repeat: no-repeat;
        transform: translateX(-172%);
    }
    100%{
        background-image: url(../images/south-crown-3.png);
        background-position: center;
        background-repeat: no-repeat;
        transform: translateX(-172%);
    }
}

.sc-3{
    animation-name: sc3;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: linear;
}

@keyframes sc2{
    0%{
        background-image: url(../images/star.svg);
        background-repeat: no-repeat;
        background-size: 410px;
        background-position: 180% -60%;
        transform: translateX(0)
    }
    49%{
        background-image: url(../images/star.svg);
        background-repeat: no-repeat;
        background-size: 410px;
        background-position: 180% -60%;
    }
    50%{
        background-image: url(../images/south-crown-2.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 90%;
        transform: translateX(0);

    }
    75%{
        transform: translateX(-172%);
    }
    100%{
        background-image: url(../images/south-crown-2.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 90%;
        transform: translateX(-172%);
    }
}

.sc-2{
    animation-name: sc2;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: linear;
}

@keyframes sc1{
    0%{
        background-image: url(../images/star.svg);
        background-repeat: no-repeat;
        background-size: 410px;
        background-position: 180% -60%;
        transform: translateX(0)
    }
    75%{
        background-image: url(../images/star.svg);
        background-repeat: no-repeat;
        background-size: 410px;
        background-position: 180% -60%;
    }
    76%{
        background-image: url(../images/south-crown-1.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 90%;
        transform: translateX(0);

    }
    100%{
        background-image: url(../images/south-crown-1.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 90%;
        transform: translateX(-172%);
    }
}

.sc-1{
    animation-name: sc1;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: linear;
}

@keyframes sc6{
    0%{
        background-image: url(../images/star.svg);
        background-repeat: no-repeat;
        background-size: 410px;
        background-position: 180% -60%;
        transform: translateX(0)
    }
    24%{
        background-image: url(../images/star.svg);
        background-repeat: no-repeat;
        background-size: 410px;
        background-position: 180% -60%;
    }
    25%{
        background-image: url(../images/south-crown-6.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 90%;
        transform: translateX(0);

    }
    49%{
        transform: translateX(172%);
    }
    100%{
        background-image: url(../images/south-crown-6.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 90%;
        transform: translateX(172%);
    }
}

.sc-6{
    animation-name: sc6;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: linear;
}

@keyframes sc5{
    0%{
        background-image: url(../images/star.svg);
        background-repeat: no-repeat;
        background-size: 410px;
        background-position: 180% -60%;
        transform: translateX(0)
    }
    49%{
        background-image: url(../images/star.svg);
        background-repeat: no-repeat;
        background-size: 410px;
        background-position: 180% -60%;
    }
    50%{
        background-image: url(../images/south-crown-5.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 90%;
        transform: translateX(0);

    }
    75%{
        transform: translateX(172%);
    }
    100%{
        background-image: url(../images/south-crown-5.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 90%;
        transform: translateX(172%);
    }
}

.sc-5{
    animation-name: sc5;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: linear;
}

@keyframes sc4{
    0%{
        background-image: url(../images/star.svg);
        background-repeat: no-repeat;
        background-size: 410px;
        background-position: 180% -60%;
        transform: translateX(0)
    }
    75%{
        background-image: url(../images/star.svg);
        background-repeat: no-repeat;
        background-size: 410px;
        background-position: 180% -60%;
    }
    76%{
        background-image: url(../images/south-crown-4.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 90%;
        transform: translateX(0);

    }
    100%{
        background-image: url(../images/south-crown-4.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 90%;
        transform: translateX(172%);
    }
}

.sc-4{
    animation-name: sc4;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: linear;
}

@keyframes inf1{
    0%{
        opacity: 1;
    }
    24%{
        opacity: 1;
    }
    25%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}

.sc-3 .inf, .sc-6 .inf{
    animation-name: inf1;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: linear;
}

@keyframes inf2{
    0%{
        opacity: 1;
    }
    49%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}

.sc-2 .inf, .sc-5 .inf{
    animation-name: inf2;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: linear;
}

@keyframes inf3{
    0%{
        opacity: 1;
    }
    75%{
        opacity: 1;
    }
    76%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}

.sc-1 .inf, .sc-4 .inf{
    animation-name: inf3;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: linear;
}

@keyframes drops{
    0%{
        background-position: center;
    }
    100%{
        background-position: center 149%;
    }
}

.drops{
    animation-name: drops;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
}

.drops:hover{
    animation-play-state: paused;
}

@keyframes run{
    0%{
        transform: translate3d(0, 0, 0);
    }
    100%{
        transform: translate3d(-108.5%, 0, 0);
    }
}

.run h2{
    animation-name: run;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
}

@keyframes ign1{
    0%{
        width: 100%;
    }
    40%{
        width: 10%;
        margin-left: 45%;
    }
    80%{
        width: 10%;
        margin-left: 45%;
    }
    100%{
        width: 100%;
        margin-left: 0%;
    }
}

.ignate-st1{
    animation-name: ign1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
}

@keyframes ign2{
    0%{
        width: 68.75%;
        margin-left: -84%;
    }
    40%{
        width: 10%;
        margin-left: -10%;
    }
    60%{
        width: 10%;
        margin-left: -16%;
    }
    80%{
        width: 68.75%;
        margin-left: -39%;
    }
    100%{
        width: 68.75%;
        margin-left: -84%;
    }
}

.ignate-st2{
    animation-name: ign2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
}

@keyframes ign3{
    0%{
        width: 45.8%;
        margin-left: -57.5%;
    }
    40%{
        width: 10%;
        margin-left: -10%;
    }
    60%{
        width: 45.8%;
        margin-left: -21.5%;
    }
    80%{
        margin-left: -57.5%;
    }
    100%{
        width: 45.8%;
        margin-left: -57.5%;
    }
}

.ignate-st3{
    animation-name: ign3;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
}

@keyframes ign4{
    0%{
        margin-left: -39.6%;
    }
    40%{
        margin-left: -21%;
    }
    60%{
        margin-left: -39.5%;
    }
    80%{
        margin-left: -39.5%;
    }
    100%{
        margin-left: -39.6%;
    }
}

.ignate-st4{
    animation-name: ign4;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
}

@keyframes sn1{
    0%{
        width: 50px;
        order: 1;
    }
    33%{
        width: 0px;
        order: 1;
    }
    67%{
        width: 0px;
        order: 3;
    }
    100%{
        width: 50px;
        order: 2;
    }
}

.sn1{
    animation-name: sn1;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
}

@keyframes sn2{
    0%{
        width: 0px;
        order: 2;
    }
    33%{
        width: 50px;
        order: 2;
    }
    67%{
        width: 0px;
        order: 1;
    }
    100%{
        width: 0px;
        order: 3;
    }
}

.sn2{
    animation-name: sn2;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
}

@keyframes sn3{
    0%{
        width: 0px;
        order: 3;
    }
    33%{
        width: 0px;
        order: 3;
    }
    67%{
        width: 50px;
        order: 2;
    }
    100%{
        width: 0px;
        order: 1;
    }
}

.sn3{
    animation-name: sn3;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
}

@keyframes si1{
    0%{
        height: 488px;
    }
    33%{
        height: 0px;
    }
    67%{
        height: 0px;
    }
    100%{
        height: 0px;
    }
}

.si1{
    animation-name: si1;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
}

@keyframes si2{
    0%{
        height: 0px;
    }
    33%{
        height: 488px;
    }
    67%{
        height: 0px;
    }
    100%{
        height: 0px;
    }
}

.si2{
    animation-name: si2;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
}

@keyframes si3{
    0%{
        height: 0px;
    }
    33%{
        height: 0px;
    }
    67%{
        height: 488px;
    }
    100%{
        height: 0px;
    }
}

.si3{
    animation-name: si3;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
}

@keyframes si4{
    0%{
        height: 0px;
    }
    33%{
        height: 0px;
    }
    67%{
        height: 0px;
    }
    100%{
        height: 488px;
    }
}

.si4{
    animation-name: si4;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
}

@keyframes rot1{
    0%{
        left: 0%;
        top: 45%;
    }
    100%{
        left: 39%;
        top: 5%;
    }
}

.rot-st-1{
    animation-name: rot1;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
}

@keyframes rot2{
    0%{
        left: 30%;
        top: 5%;
    }
    100%{
        left: 70%;
        top: 45%;
    }
}

.rot-st-2{
    animation-name: rot2;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
}

@keyframes rot3{
    0%{
        left: 55%;
        top: 45%;
    }
    100%{
        left: 22%;
        top: 85%;
    }
}

.rot-st-3{
    animation-name: rot3;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
}

@keyframes rot4{
    0%{
        left: 10%;
        top: 85%;
    }
    100%{
        top: 45%;
        left: -37%;
    }
}

.rot-st-4{
    animation-name: rot4;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
}

@keyframes ff3{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}

.fireflies3{
    animation-name: ff3;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
}

@keyframes ff4{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}

.fireflies4{
    animation-name: ff4;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
}

@keyframes shine{
    0%{
        color: #FFEDCA;
        font-size: 100%;
        letter-spacing: -35px;
        padding-left: 0;
    }
    40%{
        color: #D7EFC7;
        font-size: 50%;
        letter-spacing: 5px;
        padding-left: 15%;
    }
    60%{
        color: #FFEDCA;
        font-size: 90%;
        letter-spacing: -30px;
        padding-left: 3%;
    }
    100%{
        color: #FFBC27;
        font-size: 70%;
        letter-spacing: -10px;
        padding-left: 7%;
    }
}

.shine{
    animation-name: shine;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: linear;
}