@font-face {
    font-family: 'Zhivoton';
    src: url('../fonts/Zhivoton.eot');
    src: url('../fonts/Zhivoton.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Zhivoton.woff2') format('woff2'),
        url('../fonts/Zhivoton.woff') format('woff'),
        url('../fonts/Zhivoton.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Palatino Linotype';
    src: url('../fonts/PalatinoLinotype-Roman.eot');
    src: url('../fonts/PalatinoLinotype-Roman.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PalatinoLinotype-Roman.woff2') format('woff2'),
        url('../fonts/PalatinoLinotype-Roman.woff') format('woff'),
        url('../fonts/PalatinoLinotype-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*{
    box-sizing: border-box;
}

body {
    font-family: 'Palatino Linotype';
    background-color: #3C5B4B;
    color: #FFEDCA;
}

p{
    font-size: 40px;
    line-height: 110%;
}

h1{
    font-family: 'Zhivoton';
    font-size: 1450%;
    line-height: 130%;
    margin-top: 40px;
}

h2{
    font-family: 'Zhivoton';
    font-size: 96px;
    line-height: 130%;
    margin-top: 40px;
}

h3{
    font-family: 'Zhivoton';
    font-size: 64px;
    line-height: 120%;
}

h4{
    font-family: 'Zhivoton';
    font-size: 25px;
    line-height: 130%;
    margin-bottom: 10px;
}