.container{
    max-width: 1280px;
    margin: 0 auto;
}

.bgc-db{
    background-color: #040037;
}

.bgc-b{
    background-color: #BF7B4C;
}

.bgc-lg{
    background-color: #D7EFC7;
}

.fc-b{
    color: #BF7B4C;
}

.fc-y{
    color: #FFBC27;
}

.fc-bl{
    color: black;
}

.fs-20{
    font-size: 20px;
}

.flex{
    display: flex;
}

.grid{
    display: grid;
    grid-template-columns: 12.5% 50% 37.5%;
    grid-template-rows: repeat(11, 160px);
}

.wrap{
    flex-wrap: wrap;
}

.rel{
    position: relative;
}

.cen-cen{
    justify-content: center;
    align-items: center;
}

.cen-ver{
    align-items: center;
}

.jc-sb{
    justify-content: space-between;
}

.t-cen{
    text-align: center;
}

.cap{
    text-transform: capitalize;
}

.fd-c{
    flex-direction: column;
}

.rel{
    position: relative;
}

.mar-t80{
    margin-top: 80px;
}

.header{
    height: 100vh;
}

.stars{
    height: 33vh;
}

.logo{
    height: 20vh;
    margin-top: 50px;
}

.logo img{
    width: 700px;
}

.stars{
    margin: 0 auto;
    justify-content: space-between;
}

.st{
    width: 5.3%;
}

.st img{
    width: 100%;
}

.b-st{
    width: 7.8%;
}

.b-st img{
    width: 100%;
}

.st1{
    top: 150px;
}

.st2{
    top: 50px;
    left: -1.2%;
}

.st3{
    top: 40px;
    left: 4.8%;
}

.st4{
    top: 150px;
    left: 0.6%;
}

.st5{
    top: 180px;
    left: 1.7%;
}

.st6{
    top: 30px;
    left: -1.2%;
}

.st7{
    top: 35px;
    left: 2.4%;
}

.st8{
    top: 130px;
    left: -1.2%;
}

.st9{
    top: 165px;
    left: 1.2%;
}

.st10{
    top: 135px;
    left: 1.2%;
}

.st11{
    top: 50px;
    left: 0;
}

.st12{
    top: 145px;
    left: 0;
}

.cards{
    gap: 80px;
}

.card{
    border-radius: 17px;
    height: 320px;
    width: 25%;
}

.sc-3{
    background-image: url(../images/south-crown-3.png);
    background-position: center;
    background-repeat: no-repeat;
}

.sc-3{
    margin-left: 12%;
}

.sc{
    background-image: url(../images/star.svg);
    background-repeat: no-repeat;
    background-size: 410px;
    background-position: 180% -60%;
}

.inf{
    color: #FFEDCA;
    top: 7%;
    left: 25%;
    width: 75%;
}

.drops{
    background-image: url(../images/drops.png);
    background-repeat: repeat-y;
    background-size: 50%;
    background-position: center;
    grid-row: span 6;
}

.run{
    overflow: hidden;
}

.change{
    grid-row: span 5;
    padding: 40px;
}

.star-name{
    width: 50px;
}

.change-star{
    width: 39.8%;
}

.ignate{
    grid-row: span 3;
}

.ignate-st1{
    width: 100%;
}

.ignate-st2{
    width: 68.75%;
    margin-left: -83.75%;
}

.ignate-st3{
    width: 45.8%;
    margin-left: -57.5%;
}

.ignate-st4{
    width: 33%;
    margin-left: -39.6%;
}

.change{
    margin-left: -60%;
}

.star-name{
    overflow: hidden;
    padding-top: 30px;
}

.change-star{
    left: 50%;
    top: 10%;
}

.change-star img{
    width: 130%;
}

.rotate{
    grid-row: span 3;
}

.rotate-st{
    width: 12.5%;
}

.rot-st-1{
    left: 10%;
    top: 45%;
}

.rot-st-2{
    left: 30%;
    top: 10%;
}

.rot-st-3{
    left: 50%;
    top: 45%;
}

.rot-st-4{
    left: 4%;
    top: 80%;
}

.fireflies{
    grid-row: span 5;
    grid-column: span 2;
}

.fireflies3{
    width: 31.5%;
    object-fit: contain;
}

.fireflies4{
    width: 44.2%;
    object-fit: contain;
    top: 0%;
    left: 25%;
}

.ff-lt{
    top: 9%;
    left: 3.5%;
}

.ff-rt{
    top: 9%;
    left: 22%;
}

.ff-lb{
    top: 21%;
    left: -40%;
}

.ff-rb{
    top: -16.5%;
    left: 53%;
}

.shine{
    grid-row: span 5;
    padding-top: 50px;
}

.footer{
    padding: 80px;
}

.hse-logo{
    height: 160px;
}